# TUPLE

# Tuple methods

1)count()	Returns the number of times a specified value occurs in a tuple 

2)index()	Searches the tuple for a specified value and returns the position of where it was found

In [2]:
tup=(1,2,3,4)
count=tup.count(2)
print(count)

1

In [4]:
tup=(1,2,3,4)
index=tup.index(3)
print(index)

2

# Apply all methods of list in tuple

### append()->Adds an element at the end of the list

In [6]:
tup=(1,2,3,4,5)
tup_to_list=list(tup)
tup_to_list.append([5,6])
tup=tuple(tup_to_list)
print(tup)

(1, 2, 3, 4, 5, [5, 6])

### clear()->Removes all the elements from the list

In [8]:
tup=(1,2,3,4,5)
tup_to_list=list(tup)
tup_to_list.clear()
tup=tuple(tup_to_list)
print(tup)

()

### copy()->Returns a copy of the list

In [10]:
tup=(1,2,3,4,5)
tup_to_list=list(tup)
tup_to_list.copy()
tup=tuple(tup_to_list)
print(tup)

(1, 2, 3, 4, 5)


### extend()->Add the elements of a list (or any iterable), to the end of the current list

In [12]:
tup=(1,2,3,4,5)
tup_to_list=list(tup)
tup_to_list.extend([6,7,8])
tup=tuple(tup_to_list)
print(tup)

(1, 2, 3, 4, 5, 6, 7, 8)

### insert()->Adds an element at the specified position

In [13]:
tup=(1,2,3,4,5)
tup_to_list=list(tup)
tup_to_list.insert(0,9)
tup=tuple(tup_to_list)
print(tup)

(9, 1, 2, 3, 4, 5)

### pop()->Removes the element at the specified position

In [14]:
tup=(1,2,3,4,5)
tup_to_list=list(tup)
tup_to_list.pop()
tup=tuple(tup_to_list)
print(tup)

(1, 2, 3, 4)

In [15]:
tup=(1,2,3,4,5)
tup_to_list=list(tup)
tup_to_list.pop(2)
tup=tuple(tup_to_list)
print(tup)

(1, 2, 4, 5)

### remove()->Removes the first item with the specified value

In [16]:
tup=(1,2,3,4,5)
tup_to_list=list(tup)
tup_to_list.remove(4)
tup=tuple(tup_to_list)
print(tup)

(1, 2, 3, 5)

### reverse()->Reverses the order of the list

In [17]:
tup=(1,2,3,4,5)
tup_to_list=list(tup)
tup_to_list.reverse()
tup=tuple(tup_to_list)
print(tup)

(5, 4, 3, 2, 1)

### sort()->Sorts the list

In [18]:
tup=(8,9,2,1,5,2,3)
tup_to_list=list(tup)
tup_to_list.sort()
tup=tuple(tup_to_list)
print(tup)

(1, 2, 2, 3, 5, 8, 9)

# Tuple Comprehension

### simple tuple comprehension

In [21]:
l=(1,2,3,4,5,6,7)
b=tuple(x for x in l)
print(b)

(1, 2, 3, 4, 5, 6, 7)

### if in tuple comprehension

In [25]:
l=(1,2,3,4,5,6,7)
b=tuple(x for x in l if x>2)
print(b)

(3, 4, 5, 6, 7)

### if else in tuple comprehension

In [27]:

l=(1,2,3,4,5,6,7)
b=tuple(x if x>3 else None for x in l)
print(b)

(None, None, None, 4, 5, 6, 7)

### elif in tuple comprehension

In [28]:

#syntax-> new_list = [expression1 if condition1 else expression2 if condition2 else expression3 for item in iterable]
#This syntax translates to: "Apply expression1 if condition1 is true, else apply expression2 if condition2 is true, else apply expression3."
# Example: Categorizing numbers into 'positive', 'negative', or 'zero'
numbers = (-2, 5, 0, -7, 3, -1)
categories = tuple('positive' if num > 0 else 'negative' if num < 0 else 'zero' for num in numbers)
print(categories)  # Output: ['negative', 'positive', 'zero', 'negative', 'positive', 'negative']

('negative', 'positive', 'zero', 'negative', 'positive', 'negative')

### nested for loop in list comprehension

In [29]:

# Example: Creating a list of tuples containing pairs of numbers from two lists
list1 = (1, 2, 3)
list2 = (4, 5, 6)
pairs = tuple((x, y) for x in list1 for y in list2)
print(pairs)

((1, 4), (1, 5), (1, 6), (2, 4), (2, 5), (2, 6), (3, 4), (3, 5), (3, 6))